body, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
    font-size: 30px;
}
header {
    border-bottom: 1px solid black;
    margin-top: 0;
    width: 100%;
    height: 64px;
    display: block;
    text-align: center;
}
.header_title {
    display: inline;
    line-height: 75px;
    font-size: 20px;
}
.return_button {
    position: absolute;
    top: 30px;
    left: 10px;
    display: block;
    background-color: white;
    border: none;
    font-size: 14px;
}
.navtab {
    padding: 0 0 0 40px;
}
.nav_title {
    font-size: 18px;
    display: inline-block;
    margin: 10px 0 0 0;
}
.container {
    margin: 10px 0;
    padding: 5px 20px 10px 20px;
    border-bottom: 1px solid gray;
}
.banner {
    display:block;
    background: gray;
    height: 80px;
}
.sub_section {
    font-size: 14px;
    color: gray;
    margin: 15px 5px 15px 5px;
}
.divider {
    color: gray;
    margin-top: 10px;
}
.cover {
    display: block;
    margin:auto auto;
    background: gray;
    width: 300px;
    height: 450px;
}
